*{
    margin: 0;
    line-height: 150%;
    box-sizing: border-box;
}

@font-face {
    font-family: "Manrope";
    src: url(../fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

html {
    background: hsl(210, 46%, 95%);
    font-family: "Manrope", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 20rem;
    margin: 2rem;
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
    /* box-shadow: 0 0 0.5rem gray; */
}

.image-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
    object-fit: contain;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
}

.image-1 img {
    width: 100%;
}

.content {
    margin: 1rem 1.75rem;
}

.title-lg {
    font-size: 1rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    margin: 0.75rem 0;
}

.details {
    font-size: 0.8rem;
    font-weight: 500;
    color: hsl(212, 23%, 69%);
    margin: 0.75rem 0;
}

.bottom-lane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    padding: 0.5rem 0;
    border-radius: 0 0 1rem 1rem;
    /* background-color: hsl(214, 17%, 51%); */
}


/* toggle display for name */
.author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* display: none; */
}

.author img {
    width: 2.5rem;
    border-radius: 100px;
    border: 0.25rem solid transparent;
    margin-right: 0.25rem;
    margin-left: 1.75rem;
}

.name {
    font-size: 0.8rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.date {
    font-size: 0.8rem;
    font-weight: 500;
    color: hsl(212, 23%, 69%);
}

.share-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 100px;
    background: hsl(210, 46%, 95%);
    margin-right: 1.75rem;
}

/* toggle display for links */
.share-links {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.share-links .btn {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
}

.share-text {
    margin-left: 2rem;
    margin-right: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: hsl(210, 46%, 95%);
    font-weight: 700;
    font-size: 1rem;
}




.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
